# SPDX-FileCopyrightText: 2025 diggsweden/rest-api-profil-lint-processor
#
# SPDX-License-Identifier: CC0-1.0

node_modules
rap-lp.log
rap-lp-error.log
Avstaemning_REST_API_profil_generated*.xlsx
.tool-versions

megalinter-reports