; SPDX-FileCopyrightText: 2025 diggsweden/rest-api-profil-lint-processor
;
; SPDX-License-Identifier: CC0-1.0

@diggsweden:registry=https://npm.pkg.github.com
always-auth=true

# must use for correct package-lock.json
registry=https://registry.npmjs.org/